dist

node_modules
*.tgz
coverage
.pnpm-store
history.db/

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
yarn-error.log

# for debug or playing
sandbox
.pnpm-*
.nx/
test_suite_analysis/*
*.log
*.env