# pnpm configuration file
# More details about the file: https://pnpm.io/pnpmfile

# Set the store location
store-dir = .pnpm-store

# Set the registry
registry = "https://registry.npmjs.org/"

# Set the package manager version
pnpm-version = "8.12.1"

# Set the strict-peer-dependencies option
strict-peer-dependencies = false

# Set the hoist pattern
hoist-pattern = "*"

# Set the ignore-scripts option
ignore-scripts = false

ignore-workspace-root-check = true

# Set the shared-workspace-lockfile option
shared-workspace-lockfile = true

